body,
html {
  width: 100%;
'Montserrat', sans-serif;
  background:  url(header.jpg) no-repeat center center fixed;
  height: 100%;
  font-family:   -webkit-background-size:  cover;
  -moz-background-size:  cover;
  -e-background-size:  cover;
  background-size:  cover;
}

h1 {
  font-size:  2.5rem;
  color:  #6c7884;
  text-align:  center;
}
.laptop {
  align: center;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.btn {
  font-weight:  700;
  border-radius:  300px;
  text-transform:  uppercase;
}

.btn-xl {
  padding:  1rem 2rem;
}

.buffer {
  height:  200px;
}