body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.error {
	padding: 10px;
	color: crimson;
	border: 1px dotted crimson;
}

.success {
	padding: 10px;
	color: limegreen;
	border: 1px dotted limegreen;
}

.title {
	color: blue;
}

.test {
	color: pink;
}
