button {
	display: block;
	margin: 20px auto;
	background: rgb(92, 148, 194);
	color: white;
	border: 0;
	padding: 6px 10px;
}

.popup-wrapper {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	background: rgb(51, 49, 187);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.popup {
	font-family: arial;
	text-align: center;
	width: 100%;
	max-width: 300px;
	margin: 10% auto;
	padding: 20px;
	background: rgb(124, 142, 168);
	position: relative;
}

.popup a {
	background: crimson;
	color: white;
	text-decoration: none;
	padding: 6px 10px;
}

.popup-close {
	position: absolute;
	top: 5px;
	right: 8px;
	cursor: pointer;
}
